* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container {
    display: grid;
    min-height: 100vh;
    border: solid 2px ;
    grid-template-columns: minmax(250px, .5fr) 3fr ;
    grid-template-rows: auto 2fr;
}


/* Left Sidebar */

.sidebar {
    color: white;
    font-weight: bold;
    background-color: rgb(52, 161, 224);
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 100px .7fr 1fr ;
    grid-row: 1/3;
    

}

.side,
.side2 {
    margin: 1em 2em;
   
}

.sidelogo {
   
    font-size: 1.3rem;
    display: flex;
    flex-wrap: nowrap;
    margin: 2rem;

    
}

.sidelogo::before {
    content: "" ;
    background-image: url('images/bomb.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 5px;
    
    
    
}

a {
    text-decoration: none;
    color: inherit;
}

.links1,
.links2 {
    display: grid;
    grid-auto-rows: 40px;

}



.item1::before {
    content: "" ;
    background-image: url('images/home.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item2::before {
    content: "" ;
    background-image: url('images/card-account-details.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item3::before {
    content: "" ;
    background-image: url('images/message-reply.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item4::before {
    content: "" ;
    background-image: url('images/clock-time-four.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item5::before {
    content: "" ;
    background-image: url('images/note-multiple.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item6::before {
    content: "" ;
    background-image: url('images/account-group.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item7::before {
    content: "" ;
    background-image: url('images/cog.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item8::before {
    content: "" ;
    background-image: url('images/help-box.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item9::before {
    content: "" ;
    background-image: url('images/shield-check.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); 
    margin-right: 15px;
    vertical-align: -20%;
    
}

/* User account header */

.header {
    background-color: rgb(255, 253, 250);
    padding:1em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search {
    display: grid;
    justify-content: left;
    align-items: center;
    grid-auto-flow: column;
    
}

.search::before {
    content: "" ;
    background-image: url('images/magnify.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: 15px;
    /* vertical-align: -20%; */

}

input {
    width: 500px;
    border-radius: 50px;
    border-style: none;
    padding: 5px;
    background-color: rgb(230, 234, 236);
    

}

.tlinks {
    place-items: center;
    display: grid;
    grid-auto-flow: column;
    

}
.bell {
    height: 20px;
    width: 20px
}

.avatarsmall {
    height: 40px;
    width: 40px
}

.avatarbig {
    height: 70px;
    width: 70px;
    margin-left: 20px;
}

.usernamesmall {
    font-weight: bold;
}

.usernamebig {
    font-size: large;
}
.hello {
    font-size: small;
}

.usergreet {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 1fr;
    align-items: end;
    grid-template-rows: 70px;
    font-weight: bold;
}

.topbuttons {
    display: grid;
    grid-auto-flow: column;
    
    align-items: end;
    justify-content: space-between;
}

button {
    border-style: none;
    background-color: rgb(52, 161, 224);
    color: white;
    font-weight: bold;
    border-radius: 50px;
    padding: 6px 25px;


}
/* Content area */

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem .3rem 1rem 1rem  ;
    
    background-color: rgb(216, 212, 212);
    grid-column: 2;
    
    

}

.mainleft {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1em  repeat(3, 1fr);
    gap: 20px; 
}

.banner1 {
    grid-row: 1;
    grid-column: 1/3;
}

.banner1,
.banner2,
.banner3{
    font-weight: bold;
}


.card {
    
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 1em;
    background-color: rgb(255, 253, 250);
    border-radius: 10px;
  
}

.title{
    font-weight: bold;
    margin-bottom: .2em;

}

.social {
    margin-top: 1em;
    height: 20px;
    width: 20px;
    
}


.contentleft {
    font-size: small;
    color: rgb(180, 180, 172);
}

.mainright {
    display: grid;
    grid-template-rows: 1em 1fr 1em 1fr;
    grid-row: 1;
    grid-column: 2/3;
    gap: 20px;
    margin: 0 1em;
    
}

.socialcard1 {
    display: grid;
    grid-template-rows: repeat(auto-fit);
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    
    
}

.titleups {
    font-weight: bold;
    margin: 0;
    font-size: small;
}

.updates {
    font-size:x-small;
    color: rgb(180, 180, 172);
    margin-top: -25px;
    margin-bottom: -25px;
}

/* right hand content */

.banner3 {
    grid-row: 3;
}

.trendcard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    background-color: white;
    padding: 10px;
    font-size: smaller;
    border-radius: 10px;
}

 .usercard  {
    grid-column: 2/3;
    justify-self: start;
    align-self: center;


} 

.icon {
    justify-self: center;
    align-self: center;
    grid-column: 1/2;
    height: 40px;
    width: 40px;
}

/* .usercard {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
} */

/* .username::before {
    content: "" ;
    background-image: url('images/R-3058-1080812346.gif');
    background-size: 40px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 20px;
    
} */














