* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.container {
    display: grid;
    min-height: 100vh;
    border: solid 2px ;
    grid-template-columns: minmax(250px, .5fr) 3fr ;
    grid-template-rows: auto 2fr;
}


.sidebar {
    color: white;
    font-weight: bold;
    background-color: rgb(52, 161, 224);
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 100px .7fr 1fr ;
    grid-row: 1/3;
    

}

.side,
.side2 {
    margin: 1em 2em;
   
}

.sidelogo {
   
    font-size: 1.3rem;
    display: flex;
    flex-wrap: nowrap;
    margin: 2rem;

    
}

.sidelogo::before {
    content: "" ;
    background-image: url('images/rocket-launch.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 5px;
    
    
    
}

a {
    text-decoration: none;
    color: inherit;
}

.links1,
.links2 {
    display: grid;
    grid-auto-rows: 40px;

}


.item1::before {
    content: "" ;
    background-image: url('images/home.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item2::before {
    content: "" ;
    background-image: url('images/card-account-details.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item3::before {
    content: "" ;
    background-image: url('images/message-reply.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item4::before {
    content: "" ;
    background-image: url('images/clock-time-four.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item5::before {
    content: "" ;
    background-image: url('images/note-multiple.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item6::before {
    content: "" ;
    background-image: url('images/account-group.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item7::before {
    content: "" ;
    background-image: url('images/cog.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item8::before {
    content: "" ;
    background-image: url('images/help-box.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); /*inverts colour of bg image*/
    margin-right: 15px;
    vertical-align: -20%;
    
}

.item9::before {
    content: "" ;
    background-image: url('images/shield-check.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    filter: invert(100%); 
    margin-right: 15px;
    vertical-align: -20%;
    
}





.header {
    background-color: rgb(255, 253, 250);
    padding:1em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search {
    display: grid;
    place-items: center;
    
}

input {
    width: 80%;
}

.tlinks {
    display: grid;
    grid-auto-flow: column;

    justify-content: space-between;

}

.main {
    padding: 1em;
    background-color: rgb(216, 212, 212);
    grid-column: 2;

}